.login__content {
  padding-top: 20%;
  text-align: center !important;
}

.header {
  background-color: #212124;
  color: white;
  height: 55px;
  padding-left: 10%;
  padding-top: 5px;
}

.header-contributor {
  width: 100%;
  height: auto;
}
